//HTML size

$html-font-size: 62.5%;

//Colors

$bg-primary-color: black;
$bg-secundary-color: rgb(252, 245, 245);
$text-primary-color:black;
$text-secundary-color:rgb(199, 127, 67);
$btn-color: rgb(199, 127, 67);
$hover-color: rgb(196, 93, 9);

// Border
$border-style: solid 2px rgb(199, 127, 67);
$border-radius: 4px;

//Font family

$family-name-generic: 'Poppins', sans-serif;

//font size

$font-xsm:1.1rem;
$font-sm: 2.2rem;
$font-md: 2.5rem;
$font-lg: 3.3rem;
$font-xlg: 3.8rem;

//font weight

$fw-light: 100;
$fw-regular: 400;
$fw-bold: 600;

